[2022-11-04 14:58] romain-hasseveldt opened #3322 "Bug: Remove collapsible does not maintain order when converting it back to regular content"
Lexical version: 0.6.0

## Steps To Reproduce

1. Create a collapsible
2. Fill it with for example three paragraphs
3. Remove the collapsible

![editor_bug_collapsible_first](https://user-images.githubusercontent.com/94228419/200005616-97d1e256-fe5c-4abb-9253-4c25310354c7.png)

## The current behavior
Nodes have been unwrapped and converted back to regular content (as expected) but not in the righ

[2022-11-04 17:43] mnemyx opened #3323 "Bug: Page's scrollbar jumps to the bottom of the editor when contents exceed editor's height"
Lexical version: 0.4.1

## Steps To Reproduce

1. Create a `ContentEditable` with a `className` value
2. The CSS contains a `max-height` OR `height` value
3. Page itself has a scrollbar
4. Hit enter in the editor until a scrollbar appears

![chrome_MmRtDMwE3T](https://user-images.githubusercontent.com/770706/200424771-9b52fc91-0a15-40fc-99ad-a854c28c9ecc.gif)

![chrome_AoQVZuFmwS](https://user-ima

[2022-11-05 04:22] shamod commented on #3319
@Yidaotus
thank you so much,
this totally makes sense.

[2022-11-05 04:22] #3319 closed

[2022-11-05 08:21] mattvb91 commented on #3073
Im also looking for the ability to generate inline styles using `$generateHtmlFromNodes`

[2022-11-06 22:36] iPreacher opened #3327 "Lexical and Formik"
Hello! Please tell me how can I use Lexical with Formik?

[2022-11-07 12:00] hastebrot opened #3328 "Bug: Appending a `DecoratorNode<JSX.Element>` throws a render error."
Adding a `DecoratorNode<JSX.Element>` to the root node of a lexical editor throws an error in the console. This works in Lexical 0.5.0, but does not work in Lexical 0.6.0 anymore.

Lexical version: 0.6.0

## Steps To Reproduce

1. Base code on `lexical-plain-text-example` from CodeSandbox.
2. Update `package.json`
[code]
3. In `editor.update()` closure append a simple `TestDecoratorNode` which ext

[2022-11-07 12:42] hastebrot commented on #3328
Actually adding `ErrorBoundary` to `PlainTextPlugin` fixed the problem. Learned from it in the documentation change by #3326.

Closing since I could fix the error this way.

[2022-11-07 12:42] #3328 closed

[2022-11-07 12:45] acywatson commented on #3327
You have to provide some minimal reproducible example of a problem before we can attempt to help you, especially with libraries like Formik. There happens to be a discussion going on about Formik in our Discord channel, so I'd advice plugging in there.

[2022-11-07 12:45] #3327 closed

[2022-11-07 12:50] acywatson commented on #3318
Quote formatting is applied by wrapping the nodes in A QuoteNode. Removing the formatting is a matter for unwrapping them (removing them from the QuoteNode and deleting the QuoteNode).

[code]

[2022-11-07 12:50] #3318 closed

[2022-11-07 12:57] acywatson commented on #3316
I don't know that this is what we want. Is there any other editor where it works this way? Quip and GDocs do it more like us, though Google Docs is pretty borked, generally.

[2022-11-07 12:57] #3316 closed

[2022-11-07 15:11] DaniGuardiola commented on #3156
@trueadm any chance you could link the issue? :pray:

[2022-11-08 05:14] darabun commented on #2108
I'm trying to get this working but can't seem to get it to work when it's in the iframe.

I have it reproduced here: https://codesandbox.io/s/aged-frog-iu8ff7

It works when outside of the iframe but not when inside it.
Is there something obvious that I'm doing wrong?

[2022-11-08 08:00] vincent0426 opened #3330 "Feature: Getting code from https://playground.lexical.dev/"
Hi, I'm working on creating a rich text same as https://playground.lexical.dev/ this one. I like the feature of popping up a small features window after selecting the text but I can't find the whole sample code of the link. Thanks!

[2022-11-08 10:24] iPreacher commented on #3330
Hi, most likely it will help: https://github.com/facebook/lexical/tree/main/packages/lexical-playground

[2022-11-08 11:30] #3330 closed

[2022-11-08 16:30] abelsj60 commented on #3307
@Stopa I don't know if you have solved this to your satisfaction, but I forked it and quickly added some code that could help you solve it if you haven't gotten a chance to do it yourself yet. I figured it would only take a couple minutes.

I had to work with commands this weekend and suspected I found your problem along the way.

If you haven't seen it, I think this insertion is caused by the `CO

[2022-11-08 21:28] moughxyz commented on #2685
Here's a plugin that works for me:

[code]

[2022-11-08 21:46] EgonBolton commented on #2791
I update this thread with some features that would allow Lexical to become a more modular library:

- [x] https://github.com/facebook/lexical/pull/3142
- [ ] https://github.com/facebook/lexical/issues/3172
- [ ] Also, I think it would be better to organize the playground folders by packages according to dependencies. For example: in /images/ would go imageResizer.tsx, imagePlugin.tsx, imageNode.ts

[2022-11-08 22:53] moughxyz opened #3339 "Bug: Collapsible plugin does not collapse if there is an embed anywhere prior to it"
Lexical version: 0.60

## Steps To Reproduce

1. Open https://playground.lexical.dev/ and clear editor contents
2. Insert a tweet or youtube embed (https://twitter.com/jack/status/20)
3. Insert a Collapsible element under the embed
4. Attempt to toggle collapsible and notice it won't budge

Here's a screen recording:

https://user-images.githubusercontent.com/3277844/200693267-544f1575-491a-479b-9

[2022-11-09 14:30] agustaf9 commented on #3097
Adding this line worked for me.

`function DocumentFragment() {
  return JSDOM.fragment('')
}`

[2022-11-09 15:47] GiacomoRandazzo opened #3343 "Bug: in a single paragraph ending with a `DecoratorNode`, `$selectAll` moves cursor to the start of the paragraph"
Lexical version: 0.6.0

## Steps To Reproduce

1. Open [Lexical Playground](https://playground.lexical.dev/)
2. Clear the editor
3. Add some text followed by a `DecoratorNode` (e.g. an equation)
4. Click "Clear formatting" in the toolbar, the cursor will move to the start of the paragraph instead of selecting the entire paragraph

## The current behavior

Here is a video:

https://user-images.gith

[2022-11-10 09:55] Piliuta commented on #3160
I ended up using `registerUpdateListener` https://lexical.dev/docs/concepts/listeners#registerupdatelistener instead of listening for the command. This fixed some issues on my end, although I am not sure if there are any downsides for using it (I did not notice so far).

[2022-11-10 10:13] LvChengbin commented on #3160
@Piliuta I tried that too, but it doesn't work while using nested editors. I need to listen to `SELECTION_CHANGE_COMMAND` event to get the current active editor and it isn't triggered.

[2022-11-10 10:34] timaxlucas opened #3346 "Bug: playground sticky plugin causes illegal nested paragraphs/headers"
Sticky nodes causes illegal nested hierachies. I wasn't able to fix it myself. With some help I could do a pr.

Lexical version: 0.6.0

## Steps To Reproduce

1. Open [playground](https://playground.lexical.dev/)
2. Create Sticky Note
3. Create an empty pragraph at the beginning
4. Copy something from inside the editor (heading or paragraph)
![step 1](https://user-images.githubusercontent.com/7103

[2022-11-10 12:38] tomer-yechiel opened #3348 "Bug: $generateNodesFromDOM doesnt refer to the theme when doing conversion"
Hi
I am using Lexical in React with Tailwind, and configured Lexical to use Tailwind classes in the theme
[code]

I want to convert the content of the editor to HTML and vice versa

$generateHtmlFromNodes  - work as expected and the Tailwind class appears in the HTML string
$generateNodesFromDOM - doesn't work as expected, for example the text node doesn't have the strikethrough format

I found ou

[2022-11-10 16:16] zurfyx opened #3349 "Simplify placeholder creation for custom layouts"
From internal feedback the placeholder creation is complicated. It is particularly hard when custom nodes (beyond a simple TextNode) are involved. For example, our Workplace Post Composer structure that contains a Header + Body as a placeholder. We should research a better and generic way to simplify this problem.

[2022-11-10 17:41] bigtimecriminal commented on #3348
Also experiencing this issue. Is there a sandbox the lexical team would recommend using to demonstrate failures with the serialization process?

[2022-11-11 08:00] LvChengbin opened #3351 "Feature: parent editor should trigger `onChange` event while nested editor content changed"
I listen to the `onChange` event of parent editor and save content automatically, but while content in nested editor changed, the event isn't triggered.

Is there any to trigger parent editor's `onChange` event?
Otherwise is it should be implemented in the nested editor composer?

[2022-11-11 08:27] byTimo opened #3352 "Feature: destroyDOM callback"
It'll be great to have a controllable callback for destroying DOM that's been generated by the node. It'd be useful for removing event listeners and removing the DOM nodes from some kind of maps and caches. I'm working on some tooltip that should be shown when a DOM node is hovered and for now don't have an idea how to unsubscribe an event handler correctly.

[2022-11-11 16:02] moughxyz commented on #2815
Hmm, this behavior is quite weird indeed.

This text:

[code]

maps to

[code]

I think GHF markdown handles this better and more naturally. Commonmark's handling seems unnatural to me. In any case, here is a transformer that seems to work for me:

[code]

However the only way it works is if I force `importRegExp` and `regExp` to undefined, which is undesired. @fantactuka would you happen to know

[2022-11-12 06:01] LvChengbin commented on #3160
@Piliuta  I tried triggered the `SELECTION_CHANGE_COMMAND` by myself and solved my problem by a hack. `Lexical` has some strange code to handle the `selection` and `editor._selection`, it's messy and need to be re-designed and optimized.

[2022-11-12 13:52] johanpaolorodriguez opened #3356 "question: how do I resolve an error caused by using the ImagesPlugin with the RichTextPlugin?"
I got an error in React that I can't resolve when I try to integrate the ImagesPlugin alongside the RichTextPlugin.
Here is the message:

Warning: React.createElement: type is invalid -- expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in, or you might have mixed up d

[2022-11-13 16:06] harish-sethuraman opened #3358 "Bug: clicking on link in playground opens it in new tab and the same tab as well"
Lexical version: the current playground's version
## Steps To Reproduce

1. turn `editable=false` (lock the editor)
2. click on some link
3. link opens in new tab and the same tab without pressing any keys

Link to code example:

https://playground.lexical.dev

## The current behavior

1. turn `editable=false` (lock the editor)
2. click on some link
3. link opens in new tab and the same tab withou

[2022-11-14 05:49] acywatson commented on #3356
Take a look at #3328. You need an error boundary I think

[2022-11-14 05:49] #3356 closed

[2022-11-14 15:38] adamkona opened #3361 "Bug: syncYjsChangesToLexical unable to find active editor in headless mode"
I am currently working on converting the representation of lexical in yjs to html. I received a [very helpful gist](https://gist.github.com/fantactuka/ee8ef8ac1c51d179c7a9199262444b04) when I initially enquired about this in discord. Whilst working on implementing this, I have come across an issue using the `syncYjsChangesToLexical` method.  The stack trace of the error is as follows:

[code]

Thi

[2022-11-14 16:00] acywatson commented on #3352
Can you use a mutation listener for this?

https://lexical.dev/docs/concepts/listeners#registermutationlistener
[code]

[2022-11-14 16:11] acywatson commented on #3348
There was a PR to do something like this a while back - the issue we had was that it was applying formatting styles to editors that didn't support formatting (aka plain text editors). If we base it on the theme, I think we can get around that by not applying the formatting if the associated theme classes are undefined. That being said, this would tightly couple the theme and the format, which may

[2022-11-15 00:52] Zuckjet opened #3364 "Bug: playground experimental table is not working"
<img width="634" alt="image" src="https://user-images.githubusercontent.com/17976139/201799524-b9dc600b-aad7-4971-992d-a4a35997fc38.png">

[2022-11-15 05:36] johanpaolorodriguez commented on #3356
Thank you, that did it :)

[2022-11-15 05:55] byTimo commented on #3352
Yeah, I've already used this way as a workaround, but I had to implement and maintain the plugin instead of just using the node. Moreover, mutation listeners aren't executed during the editor unmounting, so I had to collect all DOM elements in some special array, that is used for removing listeners to avoid memory leaks. I have to keep the array relevant throughout the entire life cycle of the edi

[2022-11-15 06:57] marwan38 commented on #2807
I came here to post this issue. If it is intentional then this PR will get closed anyways, but, worth sharing my use-case. Unlike OP, I am getting an error thrown.

[code]

Error + stack trace
[code]

That empty space is creating empty nodes in between the paragraph ones which is why they then can't be inserted into the root node.

[2022-11-15 13:52] zignis opened #3365 "Bug: `Expected valid LexicalSelection` when trying to copy from nested editor"
Lexical version: Latest (playground)

## Steps To Reproduce

1. Visit [playground](https://playground.lexical.dev)
2. Add a sample image and fill in some random caption
3. Copying the text throws this exception: `Expected valid LexicalSelection` in the browser console.

Link to code example: -

## The current behavior
An exception is thrown when trying to copy some text off the nested editor.

##

[2022-11-15 15:55] acywatson commented on #3352
I don't think you need to worry about explicitly cleaning up those listeners. The runtime GC should get those for your once the underlying DOM Nodes are dereferenced.

[2022-11-16 02:26] nrikiji opened #3366 "Question: Inserting a New Line."
Is it possible to insert a line that preserves the status of the previous line when a new line is inserted with the enter key? If you have a sample code, could you please let me know?

That is not the behavior in Lexical's Playground. Also, the Draft.js demo has that behavior.

[2022-11-17 12:50] PSmolic opened #3370 "Bug: Pressing backspace in front to decorator node throws an error"
Lexical version: 0.6.1-next.0

## Steps To Reproduce

1. Remove all content from the editor
2. Add horizontal line
3. Press arrow up
4. Press backspace three times

https://user-images.githubusercontent.com/4542049/202450551-517b0a60-eb9c-492f-bfab-1567cae99a9d.mov

This error gets thrown:
[code]

[2022-11-18 12:57] Piliuta opened #3373 "Bug: Incorrect cursor position after Heading -> Normal conversion"
Lexical version: 0.6.0

## Steps To Reproduce

1. Add a heading (e.g. H1) with a line break at the end
2. Set the cursor to the line break
3. Convert the heading to normal text

https://user-images.githubusercontent.com/1575198/202710339-144c2ff6-66a8-4a98-9a62-945b3ba9e313.mov

## The current behavior
The cursor jumps to the end of the parent's previous sibling.

## The expected behavior
The curs

[2022-11-18 14:33] vlaAvva opened #3374 "Bug: Focus "jumps" when deleting content"
Lexical version: current version

## Steps To Reproduce

1. Prepare text 32K symbols
2. Insert text
3. Scroll down
4. delete some text

## The current behavior
Focus "jumps"

## The expected behavior
Focus doesn't "jump"

[2022-11-19 13:07] jonasb opened #3380 "Feature: Convert quotes to curly/typographical quotes plugin"
When writing quotes (both double and single) in the editor I'd like them to be converted to from straight to curly quotes. E.g. "it's" ⇒ “it’s”.

It seems like a common feature, so requesting it here to see if anyone already have an implementation and check if it ought to be in Playground or even a standard plugin.

Since the type of quote normally changes in editors on the context (e.g. opening d

[2022-11-20 01:28] Aloento opened #3382 "Bug: [Playground] Clicking Convert Markdown when CharLimit is enabled will cause a jam."
## Steps To Reproduce

1. https://playground.lexical.dev/?isCharLimit=true
2. Click `Convert From Markdown`

[2022-11-20 04:14] Lerbron opened #3383 "When the code block in html is echoed by generateNodesFromDOM, elements and styles are missing"
this is my default html:
`<code class="PlaygroundEditorTheme__code" spellcheck="false" data-highlight-language="javascript"><span class="PlaygroundEditorTheme__tokenAttr">let</span><span> a</span><span class="PlaygroundEditorTheme__tokenOperator">=</span><span> </span><span class="PlaygroundEditorTheme__tokenProperty">1</span><span class="PlaygroundEditorTheme__tokenPunctuation">;</span></code>`

[2022-11-21 10:02] lmvet-ct opened #3384 "Bug: registerDragonSupport does not work correctly if not in the first text node"
Lexical version: 0.6.0

Using dragon speech to text with the lexical rich text editor. When you try and select a word with speech ("select word") it does not select the word if you are not on the first text node.

## Steps To Reproduce

1. get the dragon speech-to-text and lexical rich text editor plugin
2. start dictating your sentence
3.  move to a new line or new paragraph then say "select word

[2022-11-21 10:43] #3260 closed

[2022-11-21 10:43] #3323 closed

[2022-11-21 13:02] thegreatercurve commented on #3374
Closed by #3378

[2022-11-21 15:29] EgonBolton opened #3388 "Bug: Indent multiple paragraphs at once inserts two indents instead of one"
Lexical version: 0.6.0

## Steps To Reproduce

1. Select multiple paragraphs at once in the playground and press tab.
2. Paragraphs receive 2 indentations. You can see that the padding is 40px or see in Devtools that the indent = 2.

Link to code example: https://playground.lexical.dev/

## The current behavior
Indent multiple paragraphs at once inserts two indents.

## The expected behavior
Inden

[2022-11-21 16:24] zignis opened #3389 "Bug: Body is not scrollable using mouse wheel when using the draggable block plugin on Chrome"
Lexical version: Latest

## Steps To Reproduce

1. Visit playground and fill in enough nodes to make the editor overflow the body.
2. Try dragging the topmost node to the bottom.

## The current behavior
The body can't be scrolled when the node is being dragged.

## The expected behavior
The body should be able to scroll when the node is being dragged, which is very crucial when moving nodes that

[2022-11-21 16:28] zignis commented on #3366
You can try line break node or `$createTextNode` with `$createParagraphNode` (kind of hack):
[code]

[2022-11-21 16:29] trueadm commented on #3384
Any help with this would be much appreciated if possible. It's quite a time-consuming workflow to deal with given I have to switch to my Windows machine and run Dragon to reproduce and try and debug the cases.

[2022-11-21 19:52] #3364 closed

[2022-11-21 20:42] trueadm commented on #3351
We've thought about this a lot internally and we feel that the current usage of `registerUpdateListener` should be only for a specific editor. The `OnChangePlugin` is just a wrapper around this behavior. Would you be happy for the `OnChangePlugin` to also propagate changes to parent editors that also use the `OnChangePlugin` too? That could provide a way for bubbling of `onChange`.

[2022-11-21 20:43] trueadm commented on #3352
As @acywatson already explained, the reason Lexical doesn't need this method is because cleanup is handled for you in almost all cases by the GC working as expected with unreferenced DOM nodes. Closing as I don't see the need for more code in core around this, but feel free to re-open if you feel this discussion needs more nuance.

[2022-11-21 20:43] #3352 closed

[2022-11-22 09:23] lmvet-ct commented on #3384
https://user-images.githubusercontent.com/116560541/203275871-a7dee4f9-71a3-4a52-8e0b-59fe31a1ab07.mov

Is this any help?

This is a screen recording of me using dragon to dictate and select text

[2022-11-23 00:06] acywatson commented on #3366
When you say "preserves the status" what do you mean, exactly?

[2022-11-23 00:09] acywatson commented on #3383
You have a few options here:

1) if what you want is just the exact HTML that Lexical renders, just use getRootElement and access the innerHtml property to get that:
[code]

2) If you want to control how the HTML is exported from these nodes, you have to learn about Serialization:

https://lexical.dev/docs/concepts/serialization

You can use the new (in v0.6.2) $applyReplacementNode API to overrri

[2022-11-23 00:09] #3383 closed

[2022-11-23 03:39] nrikiji commented on #3366
@zignis
[code]

[2022-11-23 03:39] #3366 closed

[2022-11-23 03:42] nrikiji commented on #3366
@zignis
Thanks for the reply. Is it like adding a node by handling the enter key around the following?

[code]

[2022-11-23 03:43] nrikiji commented on #3366
@acywatson
Thanks for the reply. For example, we want to continue the selected font size and color in the next line.

[2022-11-23 03:54] zignis commented on #3366
Yes, you may want to take a look at how the `@lexical/code` package does it: https://github.com/facebook/lexical/blob/main/packages/lexical-code/src/CodeHighlighter.ts#L515

[2022-11-23 06:45] Sabin-Subedi commented on #3389
Yes this bug is still there in playground and i think this should be resolved. @trueadm i would like to work on this bug

[2022-11-23 09:42] trueadm commented on #3389
Go for it @Sabin-Subedi  :)

[2022-11-23 11:29] trueadm commented on #3384
That's useful thanks. Maybe you could also find out what commands Dragon is sending to the client?

If you put a console.log or debugger around here:

https://github.com/facebook/lexical/blob/main/packages/lexical-dragon/src/index.ts#L48

Can you tell me what the payload is for when "select word" gets invoked?

[2022-11-23 11:29] trueadm commented on #3370
I believe this has since been fixed.

[2022-11-23 11:29] #3370 closed

[2022-11-23 11:32] trueadm commented on #3307
We are clearly missing an invariant that should prevent the TextNode from being added to the RootNode.

[2022-11-23 13:29] trueadm commented on #3270
This is intentional, unfortunately handling up/down is tricky and so we leave it to the browser for default behavior. It's tricky as knowing what is visually above means having to calculate the rect of the current selection.

[2022-11-23 13:38] trueadm commented on #3252
This is intentional, applying an editor state will also re-apply its selection. Your workaround seems fine. Maybe we can have another tag that stops all focusing/selection kind of like the `skip-scroll-into-view` tag which you can already pass to `setEditorState` as the 2nd argument.

[2022-11-23 13:48] #3200 closed

[2022-11-23 13:52] trueadm commented on #3155
Should be fixed.

[2022-11-23 13:52] #3155 closed

[2022-11-23 13:59] #3388 closed

[2022-11-23 13:59] #3346 closed

[2022-11-23 14:32] trueadm commented on #3311
I'm unable to reproduce this bug. Can you confirm this on your side too?

[2022-11-23 14:48] #3373 closed

[2022-11-23 14:57] abelsj60 commented on #3307
lol. You're a much smarter man than me. I just hammered a fix into place, but I can see you're right..!

[2022-11-23 15:22] trueadm commented on #3307
@Stopa I can't see an empty text node. I can see a `<br>` though. If you mark your decorator as `isInline() { return false }` and wait for https://github.com/facebook/lexical/pull/3406, this should hopefully fix your problem.

[2022-11-23 15:26] RiedelNicolas opened #3407 "Bug: Lexical Rich Text Sandbox"
On the Rich Text Sandbox when I try to select an element from the dropdown menu :
![image](https://user-images.githubusercontent.com/44354888/203580014-be0917f5-1ee1-4cfd-8daa-96a40f46a27e.png)
There is a type error
![image](https://user-images.githubusercontent.com/44354888/203584253-94e76f10-1e42-4f83-b4fe-b17600f9480c.png)

Lexical version:

0.6.2

## Steps To Reproduce

1. Go to : https://code

[2022-11-23 15:37] trueadm commented on #3407
Should be fixed now. Sorry, it was updated to a newer version where the API for that changed.

[2022-11-23 15:37] #3407 closed

[2022-11-23 15:43] trueadm commented on #3407
Ah, my save didn't get applied. Try again once more – sorry.

[2022-11-23 17:12] #3322 closed

[2022-11-23 17:13] fantactuka commented on #3361
Could you post specific code snippet you're using?

[2022-11-23 17:18] bigtimecriminal commented on #3311
Yes, can be reproduced in the playground following the steps.

[2022-11-23 17:24] trueadm commented on #3311
Are you trying on https://playground.lexical.dev/? Also what OS/Browser are you using?

[2022-11-23 19:24] #3275 closed

[2022-11-23 19:24] #3365 closed

[2022-11-23 19:46] #3358 closed

[2022-11-23 20:33] fantactuka commented on #3252
If selection itself is not critical for you, can clone state with null selection that should prevent auto focusing

[code]

[2022-11-23 20:58] #3339 closed

[2022-11-23 21:32] bigtimecriminal commented on #3311
Yes. Chrome 107, Mac OS.

[2022-11-24 01:18] #3311 closed

[2022-11-24 06:44] zignis opened #3414 "Bug: Unable to find an active editor in headless mode"
Lexical version: 0.6

## Steps To Reproduce

1. Follow up https://github.com/facebook/lexical/blob/main/packages/lexical-playground/src/server/validation.ts
2. Add some decorator nodes.

Link to code example: https://github.com/facebook/lexical/blob/main/packages/lexical-playground/src/server/validation.ts

## The current behavior
Parsing editor state fails when using decorator nodes such as Image

[2022-11-24 08:49] #3414 closed

[2022-11-24 09:01] zignis opened #3415 "Bug: Change event from nested editors is not propagated"
Lexical version: 0.6.3

## Steps To Reproduce

1. Visit playground and fill in some caption for a sample image.
2. The `OnChange` react plugin does not trigger when the content inside the nested editor changes.

## The current behavior
Events from nested editors are not propagated

## The expected behavior
Events from nested editors should be catched and trigger an on change event.

[2022-11-24 09:03] zignis commented on #3415
Duplicate of #3351

[2022-11-24 09:03] #3415 closed

[2022-11-24 10:13] lmvet-ct commented on #3384
this is the response if I say "select h
This is the payload:

{
    "protocol": "nuanria_messaging",
    "type": "request",
    "messageId": 34,
    "action": "ddaloccgjfibfpkalenodgehlhkgoahe:speechClient_invokeEditor",
    "responseRequired": true,
    "payload": {
        "functionId": "makeChanges",
        "args": [
            0,
            0,
            "",
            18,
            12,

[2022-11-24 10:47] thegreatercurve commented on #3237
Any update on this issue @strdr4605? Closing this for the moment due to inactivity.

[2022-11-24 10:47] #3237 closed

[2022-11-24 11:08] #3252 closed

[2022-11-24 11:09] trueadm commented on #3227
I think this has been the cause of some complex collab bugs internally after looking at a recent error report. I think we should prioritise this.

[2022-11-24 11:12] trueadm commented on #2978
@thegreatercurve Please could you re-test this one as it might be the source of a larger bug if it is.

[2022-11-24 11:13] #2933 closed

[2022-11-24 11:14] #2792 closed

[2022-11-24 11:41] thegreatercurve commented on #725
We have a $splitNode utility.

[2022-11-24 11:41] #725 closed

[2022-11-24 11:44] trueadm commented on #819
I feel like exposing ImageNode doesn't really work too well due to the fact many apps/websites that use Lexical will typically have their own UI design system or component system and thus probably wouldn't work too well with ImageNodes. Especially, as the example ImageNode on the playground doesn't support many features that purpose built systems would offer. I guess we can keep this open for now,

[2022-11-24 11:44] thegreatercurve commented on #909
Already implemented.

[2022-11-24 11:44] #909 closed

[2022-11-24 11:49] thegreatercurve commented on #1021
Yeah, I guess we don't really need to do this if we don't surface internationalisation options in the UI

[2022-11-24 11:49] #1021 closed

[2022-11-24 11:50] #1102 closed

[2022-11-24 11:50] thegreatercurve commented on #1102
Closing as this adds a lot of complexity to the playground.

[2022-11-24 11:52] thegreatercurve commented on #1105
Closing as this as it doesn't necessarily demonstrate any unique features of Lexical within the playground.

[2022-11-24 11:52] #1105 closed

[2022-11-24 11:55] thegreatercurve commented on #1117
Closing this as we have made improvements to Lexical<->GDocs copy and pasting which I think should cover this functionality.

[2022-11-24 11:55] #1117 closed

[2022-11-24 11:56] thegreatercurve commented on #1118
Validated that this works correctly.

[2022-11-24 11:56] #1118 closed

[2022-11-24 11:57] thegreatercurve commented on #1127
Validated that this is fixed.

[2022-11-24 11:57] #1127 closed

[2022-11-24 11:58] thegreatercurve commented on #1147
Closing as its a duplicate of #1795.

[2022-11-24 11:58] #1147 closed

[2022-11-24 11:59] thegreatercurve commented on #1152
We've made a lot of these improvements since this issue was created.

[2022-11-24 11:59] #1152 closed

[2022-11-24 12:06] #1173 closed

[2022-11-24 12:11] thegreatercurve commented on #1185
Verified that this has been fixed.

[2022-11-24 12:11] #1185 closed

[2022-11-24 12:13] trueadm commented on #1188
This is actually quite complex due to how the code block node was designed. In order to make this work, we actually need to have a div block wrapping each line rather than how it works now. I think we probably just need a new code block implementation from scratch that works more like CodeMirror tbh.

[2022-11-24 12:13] #1188 closed

[2022-11-24 12:14] thegreatercurve commented on #1214
Validated that this is fixed.

[2022-11-24 12:14] #1214 closed

[2022-11-24 12:17] thegreatercurve commented on #1254
Descoped as this is probably no longer necessary.

[2022-11-24 12:17] #1254 closed

[2022-11-24 12:18] trueadm commented on #1262
I feel like we can close this now that https://github.com/facebook/lexical/pull/3367 has landed. Please reopen if you feel like something is missing.

[2022-11-24 12:18] #1262 closed

[2022-11-24 12:21] thegreatercurve commented on #1320
Closed as we know about test flakiness. We have a general task for tracking this issue.

[2022-11-24 12:21] #1320 closed, assigned to nobody

[2022-11-24 12:21] thegreatercurve commented on #1338
We are going to address this separately as part of work on schemas.

[2022-11-24 12:21] #1338 closed

[2022-11-24 12:22] trueadm commented on #1341
You can use `selection.insertRawText` and it should get rid of the pesky characters for you and insert line breaks.

[2022-11-24 12:22] #1341 closed

[2022-11-24 12:23] #1450 closed

[2022-11-24 12:23] #1392 closed

[2022-11-24 12:23] #1405 closed

[2022-11-24 12:24] thegreatercurve commented on #1391
Validated that this appears to be fixed.

[2022-11-24 12:24] #1391 closed, assigned to nobody

[2022-11-24 12:24] trueadm commented on #1546
This is a good one to have really. We should prioritize it.

[2022-11-24 12:25] thegreatercurve commented on #1495
I believe this is fixed now.

[2022-11-24 12:25] #1495 closed

[2022-11-24 12:26] #1562 closed

[2022-11-24 12:28] trueadm commented on #1567
I think this is cool but ultimately apart of the larger span of work to rewrite the code editor to be more like CodeMirror.

[2022-11-24 12:28] #1567 closed

[2022-11-24 12:31] thegreatercurve commented on #1573
This is consistent with other text editors such as ProseMirror. We don't necessarily want to strip out line breaks if they exist at the end of a copied piece of text.

[2022-11-24 12:31] #1573 closed

[2022-11-24 12:32] #1600 closed

[2022-11-24 12:33] trueadm commented on #1601
I'm closing for now as this topic hasn't really been that prevalent and some of the complexities around this should probably just exist in user-land implementations rather than in core.

[2022-11-24 12:33] #1601 closed

[2022-11-24 12:37] trueadm commented on #1699
I think we can close this now as this doesn't really seem like a Lexical issue.

[2022-11-24 12:37] #1699 closed

[2022-11-24 12:39] #1742 closed

[2022-11-24 12:40] thegreatercurve commented on #1783
Validated that this has since been fixed.

[2022-11-24 12:40] #1783 closed

[2022-11-24 12:40] trueadm opened #3416 "Bug: Copying content from tables in plain text is broken"
![Screenshot 2022-11-24 at 12 39 32](https://user-images.githubusercontent.com/1519870/203786786-3ed925b9-d3dc-4767-94f4-d2a509022d71.png)

Copying this results in plain text being added which is completely wrong;

[code]

[2022-11-24 12:42] #1938 closed

[2022-11-24 12:43] trueadm commented on #1795
Improvements made to links internally. It's more of a playground issue too.

[2022-11-24 12:43] #1795 closed

[2022-11-24 12:43] trueadm commented on #1793
I think the button with tooltips works better now. It's not great but it's a playground.

[2022-11-24 12:43] #1793 closed

[2022-11-24 12:44] #1841 closed

[2022-11-24 12:46] trueadm commented on #1965
Is this still happening?

[2022-11-24 12:46] thegreatercurve commented on #1803
Validated that this appears to have been fixed.

[2022-11-24 12:46] #1803 closed

[2022-11-24 12:46] trueadm commented on #1953
I don't believe we do this anymore! :)

[2022-11-24 12:46] #1953 closed

[2022-11-24 12:46] thegreatercurve commented on #1854
Closing as this is no longer relevant.

[2022-11-24 12:46] #1854 closed

[2022-11-24 12:47] thegreatercurve commented on #1872
Closing this as this we had a PR open for it but it introduced a lot of cross-package dependencies we are keen to avoid.

[2022-11-24 12:47] #1872 closed

[2022-11-24 12:48] trueadm commented on #2004
Not sure we still need this.

[2022-11-24 12:48] #2004 closed

[2022-11-24 12:48] trueadm commented on #1988
This has been greatly improved since.

[2022-11-24 12:48] #1988 closed

[2022-11-24 12:48] #1946 closed

[2022-11-24 12:59] thegreatercurve commented on #2302
Closing as I don't think this should necessarily be a part of our core set of packages, but it could be created and hosted by an OSS contributor.

[2022-11-24 12:59] #2302 closed

[2022-11-24 13:10] StormVanDerPol commented on #1965
Yeah, can still repro it using the "katex" nodes in the playground.

[2022-11-24 13:21] trueadm commented on #1965
I don't have an Android device on my right now. Can you help me debug this if possible?

If you add a debugger around these lines:

https://github.com/facebook/lexical/blob/main/packages/lexical/src/LexicalEvents.ts#L389

And if you press backspace on Android, can you see what happens after using the web inspector maybe?

No problem if you can't, it would just really help :)

[2022-11-24 13:22] trueadm commented on #2218
This seems to have been fixed since.

[2022-11-24 13:22] #2218 closed

[2022-11-24 13:23] #2194 closed

[2022-11-24 13:23] trueadm commented on #2118
I think we should invest some time next half to rewrite the code editor to be more like CodeMirror.

[2022-11-24 13:23] #2118 closed

[2022-11-24 13:24] trueadm commented on #2106
Is this still a known issue? I'm having difficult reproducing it.

[2022-11-24 13:24] #2098 closed

[2022-11-24 13:25] #2075 closed

[2022-11-24 13:25] trueadm commented on #2075
Closing as this is out of scope given our intent to rewrite the code editor.

[2022-11-24 13:26] trueadm commented on #2065
Not sure we still really need to do this, so closing for now.

[2022-11-24 13:26] #2065 closed

[2022-11-24 13:27] trueadm commented on #2013
I'd like to know more what your own plain/rich text plugin is doing as to why you need a custom version? For now we have no intentions of re-exposing them as they're more of an implementation detail that might change in the future.

[2022-11-24 13:27] #2013 closed

[2022-11-24 13:27] trueadm commented on #2051
Schemas should handle this better, so closing.

[2022-11-24 13:29] trueadm commented on #1970
This is a complex one to solve. Ideally we should invest time in rewriting the debugging tree. For now this is out of scope of the existing debugging plugin though.

[2022-11-24 13:29] #1970 closed

[2022-11-24 13:29] trueadm commented on #2285
Closing this for now. We're aware of the issue internally and we're looking to best tackle this – given it's not really a Lexical bug.

[2022-11-24 13:29] #2285 closed

[2022-11-24 13:29] #2319 closed

[2022-11-24 13:30] trueadm commented on #2271
We plan on rewriting the code block in the future and this should be fixed by that work.

[2022-11-24 13:30] #2271 closed

[2022-11-24 14:04] Piliuta opened #3417 "Bug: Selection issues around block level decorator nodes"
Typing or pasting text does not work if the editor has only one (block) decorator node in the content.

Lexical version: 0.6.3

## Steps To Reproduce

1. Remove all content
2. Add a block node decorator (not a horizontal rule, that has been fixed)
3. Remove all spaces before and after the node
4. Set focus on the node and change cursor position to left or right (press Arrow Left/Right)
5. Attempt

[2022-11-24 14:09] thegreatercurve commented on #2233
I like @im-adithya's suggestion of increasing the touchable area around the check box.

Closing this as I don't think there are any underlying bugs with core. The padding of the check box, and any additional pseudo elements to increase the touchable surface, can be controlled via the developer's own styling choices.

[2022-11-24 14:09] #2233 closed

[2022-11-24 14:16] thegreatercurve commented on #2577
@gauseen Are you still experiencing this issue? I know we fixed a load of bugs with international composition a while ago.

[2022-11-24 14:25] thegreatercurve commented on #2589
@nextend Sorry for the delay in looking at this bug. I think this just got lost in all of the issues.

Thank you for the detailed but minimalistic bug report though! It's really appreciated as it makes everything easy to debug.

In this case, the error message is correct. You need to select the new node after the transform. The below solves the issue:
[code]

[2022-11-24 14:25] #2589 closed

[2022-11-24 14:33] thegreatercurve commented on #2495
This should have been fixed with #3378. I can confirm that the last GIF is no longer replicable.

<img width="1038" alt="image" src="https://user-images.githubusercontent.com/7748470/203809080-7ff51360-4cc2-48bf-9b32-97b4275d6ffe.png">

[2022-11-24 14:33] #2495 closed

[2022-11-24 14:42] thegreatercurve commented on #1184
I realized that this was added in by @karam-qaoud during his internship as part of #2634 to add the table of contents mini map. Heading nodes are transformed to add relevant classes and IDs.

[2022-11-24 14:42] #1184 closed

[2022-11-24 14:43] thegreatercurve commented on #2629
Closing as this should be unblocked with the merging of #1262.

[2022-11-24 15:01] nextend commented on #2589
@thegreatercurve Thank you for the solution. I changed a little bit to check whether the replaced node was selected or not. I hope it will work as expected :)

[code]

[2022-11-24 15:13] thegreatercurve commented on #2208
@fantactuka Any idea if this has been fixed already?

[2022-11-24 15:17] thegreatercurve commented on #2330
@ghost Any chance you could take a look at Maksim's comment above and maybe update the bug description? It's proving a little difficult to debug currently.

[2022-11-24 15:17] thegreatercurve commented on #2442
Not sure this is really needed. Descoping for the moment.

[2022-11-24 15:21] trueadm commented on #2525
We plan on rewriting the code node in the future. So closing this for now.

[2022-11-24 15:21] #2525 closed

[2022-11-24 15:22] thegreatercurve commented on #2535
The main transformers in the markdown package are defaults of common markdown. Users can add custom transforms themselves.

[2022-11-24 15:22] #2535 closed

[2022-11-24 15:26] thegreatercurve commented on #2557
Nice idea @aquarius-wing! Would you be interested in creating this in a PR?

[2022-11-24 15:28] thegreatercurve commented on #2559
This should have been solved with the introduction of replaceable base nodes in #3367

[2022-11-24 15:28] #2559 closed

[2022-11-24 15:37] thegreatercurve commented on #2593
We are aware of some bugs in `$restoreEditorState`, notably how it restores the editor node map.

[2022-11-24 15:38] thegreatercurve commented on #2605
I'll try to repro this and will then assign it internally.

[2022-11-24 15:38] thegreatercurve commented on #2605
I'll try to repro this and will then assign it internally.

[2022-11-24 15:44] #2730 closed

[2022-11-24 15:45] thegreatercurve commented on #2754
Duplicate of #3160

[2022-11-24 15:45] #2754 closed

[2022-11-24 15:46] thegreatercurve commented on #2756
@zurfyx Is this still an issue we want to consider?

[2022-11-24 15:47] thegreatercurve commented on #2757
Closing this as this is unsupported in other text editors.

[2022-11-24 15:47] #2757 closed

[2022-11-24 15:49] trueadm commented on #3166
I don't think we want to make such a large breaking change now. Closing for now.

[2022-11-24 15:49] #3166 closed

[2022-11-24 15:50] thegreatercurve commented on #2788
Duplicate of #1788

[2022-11-24 15:50] #2788 closed

[2022-11-24 15:50] trueadm commented on #3141
We plan on incorporating normalization into schemas. Closing for now.

[2022-11-24 15:50] #3141 closed

[2022-11-24 15:51] StormVanDerPol commented on #1965
Sure! but what do you mean with adding a debugger?
I can log stuff if that's what you mean. I'd have to learn to use a debugger since I haven't done that before.
![Screenshot from 2022-11-24 16-47-14](https://user-images.githubusercontent.com/56631072/203824129-41a300d2-249d-4866-a1ea-50b99da485d2.png)

[2022-11-24 15:51] trueadm commented on #3041
Is this still a bug?

[2022-11-24 15:55] trueadm commented on #1965
If you typer the word `debugger` into the code it will pause Chrome at that line during execution :)

[2022-11-24 15:56] thegreatercurve commented on #2805
Descoping this for the moment as I think the functionality of the Link Nodes in the playground is useful for helping us to debug any related issues. I think for independent surfaces, this could be quite easily added.

[2022-11-24 15:56] #2805 closed

[2022-11-24 15:59] thegreatercurve commented on #2834
Thanks for the idea! If you want to add a PR to add in this functionality, please feel free. We find `wrapLeafNodesInElements` to be enough for our own needs internally. Closing this just for the moment.

[2022-11-24 15:59] #2834 closed

[2022-11-24 16:01] trueadm commented on #2883
Closing this for now as it's not in scope for core work. Will re-open it in the future if this changes :)

[2022-11-24 16:01] #2883 closed

[2022-11-24 16:02] StormVanDerPol commented on #1965
woah. That's awesome.

![image](https://user-images.githubusercontent.com/56631072/203826668-faaba7b5-6940-468d-a554-3347dc426101.png)

Is there anything specific you want me to look for?

[2022-11-24 16:02] trueadm commented on #2922
Closing for now as I feel this isn't something we want to introduce the complexity in core for

[2022-11-24 16:03] thegreatercurve commented on #2923
Same underlying issue as #2922

[2022-11-24 16:06] thegreatercurve commented on #3149
Closing this as this will eventually be replaced by the devtools extension

[2022-11-24 16:06] #3149 closed

[2022-11-24 16:06] trueadm commented on #3152
Descoping for now.

[2022-11-24 16:06] #3152 closed

[2022-11-24 16:08] thegreatercurve commented on #3029
We are aware of this issue and are looking into a more comprehensive way of dealing with types and node inheritance in Lexical.

[2022-11-24 16:08] #3029 closed

[2022-11-24 17:03] EgonBolton commented on #819
Hello! I think there is a lot of recyclable logic for those who want to use this plugin.

Some thoughts:

I have opened an issue in this line some time ago regarding the caption: https://github.com/facebook/lexical/issues/3172
This would avoid having to do a lot of internal surgery to the plugin if someone doesn't want to use, for example, mentions in the caption.

I think the same could be done w

[2022-11-24 17:39] thegreatercurve commented on #2809
@adri1wald would you mind re-testing to see if this is still an issue? This appears to be fixed when I try to repro in Chrome.

![image](https://user-images.githubusercontent.com/7748470/203841336-08ddfe25-e9de-47e1-a2de-9a131e26dfef.png)

[2022-11-24 18:31] EgonBolton commented on #1338
Is there a public place where it is being discussed what the possible solution will look like?

[2022-11-24 18:51] EgonBolton commented on #1872
I can't see the in-progress branch that was abandoned. I would like to see what those dependencies are, is it possible? @thegreatercurve

[2022-11-24 19:00] Piliuta commented on #3417
@trueadm this is still a problem with other block decorator nodes. The horizontal rule was an example, but this is a problem with all such nodes. I do not think this should be fixed on the node level. It needs a general fix.

[2022-11-24 19:04] Piliuta commented on #3041
Yes. Here is a fresh example.

https://user-images.githubusercontent.com/1575198/203851417-0bd835ea-416e-42ae-a260-697fabc6df0f.mov

And this PR fixes the problem https://github.com/facebook/lexical/pull/3238 but it is still in review.

[2022-11-24 19:05] Piliuta commented on #3156
Thank you. Please leave a comment here when there is any related work happening.

[2022-11-24 19:06] trueadm commented on #3417
@Piliuta This doesn't seem like a Lexical bug though. The problem is how selection is handled by browser rendering engines in respect to content editable. `<hr>` as a block level element can have selection around it, but oddly, `<div>` can't it seems. I'm not sure there is a general fix here. Maybe you can help me do some more research around what types of element work and do not (using a standard

[2022-11-24 19:08] trueadm commented on #3041
Thanks for the update :) I'll track that PR.

[2022-11-24 19:17] Piliuta commented on #3417
Not promising anything, but I can take a look. We should keep this issue open as it does not resolve the problem completely.

[2022-11-24 19:18] trueadm commented on #3417
I wonder if someone has filed a browser bug around this before. I feel this should be something browser vendors should be fixing.

[2022-11-24 20:08] trueadm commented on #3417
For what it's worth, making the container `<div>` for your decorator `inline` or `inline-block` seems to fix the selection issues too.

[2022-11-24 20:35] Piliuta commented on #3417
Yeah, it does work for me. Do you think this can cause other side effects or it can be set as a style by default for decorator nodes?

[2022-11-24 20:58] Piliuta commented on #3417
Applying inline classes to all nodes causes different issues, but doing it for the case when there is only node seems to be working

[code]

I'll probably go with this as a low lift solution.

[2022-11-24 21:21] Piliuta commented on #3417
Well, this does not work when there are more than one such node and no other nodes in the content 😕

[2022-11-25 07:20] denone commented on #3307
@trueadm you meant `isInline() { return true }` 🙂 ?

[2022-11-25 07:35] nextend opened #3419 "Feature: Implement iterator into LexicalNode to allow simple tree traversal"
I needed to tell whether the current selection is inside the current node or not. I wrote a generator function to iterate over nodes until I found a node with node.isSelected() === true. I think an iterator would help others as well.

I think you just need to extends these two classes with generator functions:

[code]

This code can be optimized even more:
[code]

Usage:
[code]

[2022-11-25 07:44] rubenmoya commented on #2495
I can confirm it is fixed, thank you so much @thegreatercurve @trueadm! 👏

[2022-11-25 08:57] trueadm commented on #3307
@denone This is a block element by looking at the codesandbox, so inline should be `false`.

[2022-11-25 09:13] StormVanDerPol commented on #1965
is `$setSelection(prevSelection.clone())` at line 404 supposed to mutate the `selection` object defined at 386? I was messing around some more and noticed that the check at line 402 (`if ($isRangeSelection(selection))`) resolves to `false` in this case because the `selection` is still `null`, even though `prevSelection` seems like a normal RangeSelection.

If I artificially make that check at 402

[2022-11-25 09:24] trueadm commented on #1965
Excellent work digging into that! :) I'll put up a PR.

[2022-11-25 09:26] StormVanDerPol commented on #1965
@trueadm I edited my comment a bit, idk if you still caught that. There seem to be two seperate cases where this bug happens.

Anyway I hope it helps in some capacity!

[2022-11-25 09:28] denone commented on #3307
Thanks, it works 👍

[2022-11-25 09:30] trueadm commented on #1965
Does this PR help any? https://github.com/facebook/lexical/pull/3420

This logic is quite delicate though. I'm hesitant to cause https://github.com/facebook/lexical/issues/1973 or https://github.com/facebook/lexical/issues/2937 again.

[2022-11-25 09:36] StormVanDerPol commented on #1965
It does help, but you're right about it causing a regression as the problem described in #1973 happens again.

[2022-11-25 10:00] trueadm commented on #1965
I updated the PR to adjust for decorators only. Does that still cause the issue in #1973?

[2022-11-25 10:10] thegreatercurve commented on #1872
@EgonBolton This was the PR we ended up closing: #2131

[2022-11-25 10:18] thegreatercurve commented on #2485
Closing this as I no longer think this is possible without introducing several breaking changes. I think the editor.update that exists in the command listeners is possibly more of an implementation detail than anything else.

[2022-11-25 10:18] #2485 closed

[2022-11-25 10:26] thegreatercurve commented on #3419
We have an issue open to refactor `getChildren` to use a linked list (#1860). This would probably be more useful for your usecase, as it will necessarily introduce some methods which are similar to the iterable protocol implemented by generators, so developers could call `next` or `previous` on the list of child nodes.

[2022-11-25 10:26] #3419 closed

[2022-11-25 11:00] Stopa commented on #3307
@trueadm thank you for clearing this up! @denone is my colleague who is dealing with this project currently so if he says it's fixed, this issue can be closed :)

[2022-11-25 11:00] #3307 closed

[2022-11-25 11:46] thegreatercurve commented on #3175
Closed and added to DevTools issue #2127

[2022-11-25 11:46] #3175 closed

[2022-11-25 11:46] trueadm commented on #3417
I figured it out. Having an extra `<div contenteditable="false">` in the main editor allows for selection oddly. This is what ProseMirror uses for its emulated cursors.

[2022-11-25 13:46] trueadm commented on #1965
Sigh. Not sure how to avoid that problem. Working with Android and widgets that are marked as contenteditable="false" is such a hassle. Let me know if you discover anything too! I'll dig into this more next week otherwise.

[2022-11-25 14:35] trueadm commented on #3361
Is this line needed?

https://gist.github.com/adamkona/40c8075bc12432a91158e0de47a283b6#file-lexical-ts-L111

I wonder if this is a bug with nested updates if it is, because the editor should be active in an update. It's only not active in a read. I believe we may have already fixed this bug if this is the case.

[2022-11-25 14:45] EgonBolton commented on #1872
Can we reopen this one? In the conversation the rest of the team has agreed that the ui could be copied or the methods exposed. It seems fine to me too.

[2022-11-25 15:01] StormVanDerPol commented on #1965
Yep! I can imagine android and IMEs are a pain when it comes to developing an RTE for the web. Lexical already works pretty great in that regard imo, I used to use slate but it was causing too many issues for users.

I'll take another look soon-ish too.

[2022-11-25 15:01] adamkona commented on #3361
I've just updated the gist and have tested the code without the update which you saw and I'm still observing the same issue

[2022-11-25 15:03] adamkona commented on #3361
The function in the gist is the code which is being called with the parameters it requests. Could you clarify the snippet of code you'd like to see?

[2022-11-25 15:20] trueadm commented on #3361
In the call-stack above, does it go any further than syncEvent? That function should be called from `syncYjsChangesToLexical` which contains an editor update. Have you any way to debug the callstack upon the error being thrown using Chrome dev tools? I think it would useful to examine the frame where Lexical created the update to see what path that comes from.

[2022-11-25 16:07] trueadm opened #3426 "Feature: Improving selection around decorator nodes"
Today, there are a variety of issues with selection and Lexical's decorator nodes.

- Block level decorator nodes can block selection from happening at all. https://github.com/facebook/lexical/issues/3417
- Inline level decorator nodes cause selection to appear in the wrong place or to be lost entirely.
- The cursor often doesn't show in the right place.

Taking inspiration from ProseMirror, we ca

[2022-11-25 16:09] maxhelsel opened #3427 "Bug: FloatingToolbar updatePopup loop and flickering within cursor range selection"
Lexical version:
0.6.X, playground editor

## Steps To Reproduce

1. Rich text editor with FloatingTextFormatToolbarPlugin enabled
2. Type a paragraph, hit enter/return twice, type another paragraph
3. Use cursor to highlight bottom paragraph, drag to empty line and rest
4. Seems to me that the cursor gets stuck between the FloatingToolbar and the editor body, causing update loops to the Toolbar u

[2022-11-25 16:17] trueadm commented on #3427
Thanks for the detailed report. If you get a chance and would like to contribute a fix, then a PR would be really appreciated. :)

[2022-11-25 16:18] adamkona commented on #3361
The only other line that comes before `syncEvent` in the stack trace is:

[code]

[2022-11-25 16:23] trueadm commented on #3361
That's strange. The root of the callstack should be coming from your code here:

[code]

What version of Lexical are you using?

[2022-11-25 16:35] adamkona commented on #3361
Using lexical version: `0.6.0`

[2022-11-25 16:36] trueadm commented on #3361
Please can you try using the latest `0.6.3`.

[2022-11-25 16:47] #2590 closed

[2022-11-25 17:04] scvet-ct opened #3428 "Bug: correcting a word using Grammarly will also insert word where the cursor is if in a different paragraph."
Lexical version: 0.5.0

## Steps To Reproduce

1. enable grammarly extension (turn off autocorrect)
2. write a paragraph
3. start a new paragraph with an incorrectly spelled word.
4. click back into the previous paragraph
5. hover over the incorrectly spelled word (don't click on it) and then click on Grammarly's suggested change to select it
6. the word will change but also be placed in the previ

[2022-11-25 17:41] #3180 closed

[2022-11-25 17:41] thegreatercurve commented on #3180
Validated that this now works.

[2022-11-25 17:45] adamkona commented on #3361
Upgraded to `0.6.3` and still experiencing the same crash

[2022-11-26 17:52] David-Kristek opened #3433 "Bug: One list instead of two seperate"
Lexical version: 6.4

## Steps To Reproduce

1. Recognize that there is a list node bellow
2. Join those two lists into one

## The current behavior

When I add `- some text` above the list - there are two lists created for one list. It causes problems with markdown conversion:
![image](https://user-images.githubusercontent.com/77566262/204101833-20413b72-52b2-4938-a03e-41edf1599b0e.png)

The seri

[2022-11-26 21:17] #3428 closed

[2022-11-27 16:55] thegreatercurve commented on #2809
Closing as this now appears to be fixed.

[2022-11-27 16:55] #2809 closed

[2022-11-27 17:36] #1170 closed

[2022-11-27 17:36] #1158 closed

[2022-11-27 17:47] thegreatercurve commented on #2740
Validated that this now appears to have been fixed.
<img width="333" alt="image" src="https://user-images.githubusercontent.com/7748470/204151405-4fb29e03-253f-424e-b0dd-0b6638fe93b4.png">

[2022-11-27 17:47] #2740 closed

[2022-11-27 22:00] #2758 closed

[2022-11-28 11:01] thegreatercurve commented on #2707
Validated that this now appears to have been fixed.

[2022-11-28 11:01] #2707 closed

[2022-11-28 11:39] trueadm commented on #3428
I'm a muppet and somehow undid the fix before landing that PR. I fixed in https://github.com/facebook/lexical/pull/3438.

[2022-11-28 11:51] bilobom opened #3439 "Bug: Image resizing on Read-Only mode"
Images inserted into the playground can be resized, and added a caption to.

Lexical version: latest on the playground

## Steps To Reproduce

1. go to lexical playground
2. insert a sample image
3. click the image to show resizing layer
4. toggle edit mode to read-only mode
5. resize the image or add caption

## video

[screen-capture (1).webm](https://user-images.githubusercontent.com/19841175/2

[2022-11-28 12:43] Piliuta commented on #3417
Not sure that understand what you mean. Decorator nodes are `<div contenteditable="false">` in the main editor but it does not work 🤔

[2022-11-28 12:43] Piliuta commented on #3417
Not sure that understand what you mean. Decorator nodes are `<div contenteditable="false">` in the main editor but it does not work 🤔

[2022-11-28 12:44] trueadm commented on #3417
@Piliuta The element also needs to be empty! I have some work on this in https://github.com/facebook/lexical/pull/3434

[2022-11-28 12:45] scvet-ct commented on #3428
Amazing, thank you for fixing it so quickly. Will update our version of lexical when it's in main 👍

[2022-11-28 13:05] #1605 closed

[2022-11-28 14:59] Faizan711 commented on #3439
does this issue still needs to be resolved, if so i would like to be assigned for it.

[2022-11-28 16:05] phillipb opened #3440 "Feature: The ability to convert EditorState to Markdown outside of LexicalContext"
It would be useful to have a static function that has the ability to convert lexical's editor state to markdown. This is useful on the server and in places where we don't have a lexical editor, but we want to export to markdown.

Ideally something like this:
[code]

[2022-11-28 16:48] thegreatercurve commented on #3439
Happy for you to take a look. It should be a case of checking if `editor.isEditable()` is true in the ImageResizer component.

[2022-11-28 20:31] #2978 closed

[2022-11-28 22:40] #1546 closed

[2022-11-29 02:44] LuciNyan commented on #3389
I tried to reproduce this issue but failed. How did you do it? Could you record a video?

https://user-images.githubusercontent.com/22126563/204425838-3bab1f2d-95d3-4c34-ba08-a992064b5025.mov

[2022-11-29 08:47] zignis commented on #3389
Sorry for not being specific enough, the scrolling works when you drag but the mouse wheel events do not work when a block is being dragged. Try dragging a block and using the mouse wheel at the same time.

[2022-11-29 08:59] LuciNyan commented on #3389
Thanks for your response! <3

[2022-11-29 10:32] thegreatercurve commented on #3439
@Faizan711 Apologies, but I ended up fixing this as part of another PR (#3445). It turned out to just be a couple of lines to fix.

[2022-11-29 10:33] Faizan711 commented on #3439
Ok no worries, I'll try to fix the next one.

[2022-11-29 11:05] #3439 closed

[2022-11-29 11:10] thegreatercurve commented on #3351
I think this could get confusing very fast, especially if the nested composer can also accept it's own `OnChangePlugin` child component.  The simplest solutions to me would be to allow both the parent and nested composer accept their own `OnChangePlugin` and then have them call the same callback with the parent editor state.

[2022-11-29 11:10] #3351 closed

[2022-11-29 11:23] thegreatercurve commented on #3349
#3379

[2022-11-29 11:36] lyove commented on #2313
This is simple example https://github.com/lyove/lexical-vanilla

[2022-11-29 12:53] vladcl opened #3450 "Question: Is there a way to transform the contents of the editor state into html?"
Hi, mates!

I'm using lexical editor in my application but i want to generate a pdf with the content in editor state.

i was using jsPDF + react-wysiwyg to generate the PDF, so i want to know if is possible transform the content to html to use in jsPDF lib.

Thanks!

[2022-11-29 13:26] Rajatava opened #3452 "Bug: Editor is not able to import superscript and subscript styling from html string"
Lexical version: 0.6.3

**issue with importing superscript styling**

![lexical-superscript1](https://user-images.githubusercontent.com/49876019/204538756-3be2bb02-0ca1-44f0-a864-069880108340.png)

$generateHtmlFromNodes() yields the following html string

`<p class="PlaygroundEditorTheme__paragraph"><span>10</span><sup><span class="PlaygroundEditorTheme__textSuperscript">12</span></sup></p>`

But

[2022-11-29 13:40] thegreatercurve commented on #3452
Duplicate of #2202.

[2022-11-29 13:40] #3452 closed

[2022-11-29 15:18] thegreatercurve commented on #3270
Closing this for the moment as there doesn't seem like an action we can take, but feel free to open otherwise @trueadm.

[2022-11-29 15:18] #3270 closed

[2022-11-29 18:12] #2202 closed

[2022-11-29 18:43] TrySound opened #3456 "Bug: registerUpdateListener gives stale state after clearing formatting"
Lexical version: 0.6.4

## Steps To Reproduce

1. make bold non-first word
2. click on clear
3. editorState still gives bold format

Link to code example:

https://codesandbox.io/s/mutable-browser-tsk7n2?file=/src/App.tsx

## The current behavior

Bold state is not reset after clearing formatting

## The expected behavior

Bold state is set to false after clearing formatting

[2022-11-29 20:25] acywatson commented on #3440
Have you checked out @lexical/headless? Could be useful for you on the server.

[2022-11-29 22:04] thegreatercurve commented on #3456
@TrySound Remove the `useCallback` around `updateToolbar` and then it works as expected, or make `updateToolbar` accept a selection argument:
[code]
The problem is the callback is being memoized with the same stale selection, so doesn't correctly get the new selection when you call `editor.read`.

Tested this out in your CodeSandbox and verified that the toolbar button updates as expected

[2022-11-29 22:52] TrySound commented on #3456
Hi @thegreatercurve. I removed useCallback and inlined the code instead. The issue still reproduced. I updated codesandbox.
<img width="248" alt="image" src="https://user-images.githubusercontent.com/5635476/204665816-0938caa9-15dd-4c5f-a937-f7054d7021e4.png">

[2022-11-30 02:27] wuyxp opened #3457 "Feature: According to the socket push data to achieve incremental document update"
I'm using lexical as our document component. Documents carry large amounts of data, and we support collaborative editing of documents. So, we think we can capitalize on the ability of reconcile, maximizing the performance of reducing the data network transfer overhead and lexical redraw.

Let's think about it in two parts

1. In terms of data storage, neither html string storage nor json structure

[2022-11-30 04:01] aquarius-wing commented on #3288
Thank you!

[2022-11-30 05:40] birtles opened #3460 "Bug: Text sometimes not updated in Safari since 0.6.4 (regession from #3429)"
Lexical version: 0.6.4

Given a playwright test such as the following:

[code]

I get the following test failure after updating from 0.6.3 to 0.6.4 in **webkit** only.

[code]

Having debugged the difference between the two versions I see the following:

Firstly, we call `$shouldPreventDefaultAndInsertText` from `onBeforeInput.updateEditor` with inputType `'insertText'`.

In Chromium in 0.6.3 and

[2022-11-30 07:52] birtles opened #3461 "Bug: LexicalAutoFocusPlugin looks wrong"
Lexical version: 0.6.4

See the following code, introduced in https://github.com/facebook/lexical/commit/2f78eeb41daa8ee4a60c47107ff67953bcfeb8df:

https://github.com/facebook/lexical/blob/a2f3b2fe157bcd20d69c1e85b9203d6c52d244ab/packages/lexical-react/src/LexicalAutoFocusPlugin.ts#L28-L35

This appears to call `rootElement.focus()` any time `rootElement` is not `null` which both fails to guard ag

[2022-11-30 08:39] trueadm commented on #3460
What if add a `IS_SAFARI || IS_IOS` to

[code]

Would that maybe resolve this? This logic is all quite tricky. It would be good to have a better heuristic here but I'm unsure what works well.

[2022-11-30 10:16] birtles commented on #3460
Yes, the following seems to fix my failing test at least:

[code]

I guess another option would be, in `onInput`, to detect when the anchor node's backing element is orphaned and dispatch a `CONTROLLED_TEXT_INSERTION_COMMAND` in that case?

[2022-11-30 10:57] DaniGuardiola commented on #3141
@trueadm is there information about schemas anywhere that I could check? Link? :pray:

[2022-11-30 12:35] trueadm commented on #3141
@DaniGuardiola Not right now. Bear with us, we're still exploring this space before sharing it widely.

[2022-11-30 12:49] trueadm commented on #3460
That's a good idea. If you could help with a PR, that would be epic :)

[2022-11-30 12:50] birtles commented on #3460
Sure, I'll have a look tomorrow.

[2022-11-30 13:37] turnerguo opened #3463 "Feature: Is there a custom way to serialize/deserialize EditorState"
While user use Lexical in a collaboration document it might be a big doc-data to save to the database, which the data maybe get from `editor.getEditorState().toJSON()`, but it returns only a tree like data structure that may not user want, in this case we may need to customize the data structure like a Nodes Array or something else to support better data saving strategy.

After I read the document

[2022-11-30 14:13] trueadm commented on #3463
You can use `editor.read()` like you mention. `state` isn't passed, but you can use `$getRoot()` and traverse the tree from the root and create your own output as you want.

[2022-11-30 14:48] WoodenPC opened #3465 "Bug: Getting error after upgrading to >= 0.6.0 version of lexical from 0.5.0"
Lexical version:
0.6.0 and above

## Steps To Reproduce

upgrade lexical version from 0.5.0 to 0.6.0 and above
0.5.0 is working !
![image](https://user-images.githubusercontent.com/25397745/204826270-ba448ee1-a548-4aef-826e-23ba708725a8.png)

[2022-11-30 14:53] trueadm commented on #3465
They are named exports now. See the playground for examples. For this case you can do:

[code]

[2022-11-30 15:10] WoodenPC commented on #3465
@trueadm Thank you for help. I already use named imports . My code based on examples from docs and playground. But it not working after update from 0.5.0 -> 0.6.4 :(
[code]

[2022-11-30 15:13] trueadm commented on #3465
Are all your versions for your references to other modules in your package.json files also 0.6.4?

[2022-11-30 15:20] WoodenPC commented on #3465
"lexical": "0.6.4",
"@lexical/react": "0.6.4",
"@lexical/clipboard": "0.6.4",
"@lexical/code": "0.6.4",
"@lexical/file": "0.6.4",
"@lexical/hashtag": "0.6.4",
"@lexical/link": "0.6.4",
"@lexical/list": "0.6.4",
"@lexical/mark": "0.6.4",
"@lexical/overflow": "0.6.4",
"@lexical/plain-text": "0.6.4",
"@lexical/rich-text": "0.6.4",
"@lexical/selection": "0.6.4",
"@lexical/table": "0.6.4",
"@lexical/ut

[2022-11-30 15:21] trueadm commented on #3465
Try clearing out your node_modules and doing npm install again?

[2022-11-30 15:28] WoodenPC commented on #3465
deleting node_modules and reinstalling packages not helped me at all :(  Same error in console

[2022-11-30 15:41] WoodenPC commented on #3465
Btw i use @swc/core and swc-loader for webpack . I updated them. And error dissapeared

[2022-11-30 15:51] #3465 closed

[2022-11-30 16:20] phillipb commented on #3440
Ah, that looks like it would do the trick for my use case. Probably safe to close.

[2022-11-30 16:21] thegreatercurve commented on #3461
Yeah, I think you're right. `!rootElement.contains(activeElement)` could result in a type error without the null check in front of it.

[2022-11-30 16:29] #3461 closed

[2022-11-30 16:49] bilobom opened #3467 "Feature: Support for Flow-relative text-align `start` & `end`"
## Outline
[Most modern browsers](https://caniuse.com/?search=text-align%3Astart) support flow-relative `text-align` (**start**, **end** ). This feature request will add those two options in `FORMAT_ELEMENT_COMMAND` command.

## Motivation
This logical values for text-align will work in harmony with RTL/LTR direction for lexical consumers.

[2022-11-30 17:32] acywatson commented on #3463
Let us know if Dominic's response doesn't solve your problem

[2022-11-30 17:32] #3463 closed

[2022-11-30 19:05] pro-vi opened #3468 "Bug: TextEntity infinite loop with provided HashtagPlugin"
Lexical version: 0.6.4

## Steps To Reproduce

Type `#aaa #bbb` which is parsed into two `HashtagNode`s, copy, paste right after `#bbb` no space, `TextEntity` will start to loop infinitely. See recording.

https://github.com/facebook/lexical/blob/67b159ee9275e4a8f67c53b9aad97d0d97cddb8b/packages/lexical-react/src/LexicalHashtagPlugin.ts#L280-L284

In `LexicalText`, could have something to do with

[2022-11-30 19:28] trueadm commented on #3460
I extracted your test case into this PR https://github.com/facebook/lexical/pull/3470. Interestingly, I can't seem to repro the issue in Safari? Is it maybe down to differences in Playwright version?

[2022-11-30 21:50] #3467 closed

[2022-11-30 23:29] PrakharRichhariya-314e commented on #3042
But this is giving typeErrors when getting used in editorConfig